div.container {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    flex-wrap: wrap;
}

div.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    /* height: 50vh; */
    border: solid black 3px;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: .3rem;
    background-color: black;
    color: white;
}

article.card img {
    width: 100%;
}